@(employee:Employee)

@main("Employee Added") {

    <em>The following employee has been added successfully:</em>
    <div>
        Employee Name: @employee.name
        <br>
        Age: @employee.age
        <br>
        Sex: @employee.sex
        <br>
        Address: @employee.address
        <br>
        Email: @employee.email
        <br>
        Education: @employee.education
        <br>
        Marital Status: @employee.maritalStatus
        <br>
        Salary (in K): @employee.salary

    </div>
}




